<!DOCTYPE html>
<html lang={Gettext.get_locale()} class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Ambiantcare" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain="ambiant.care"
      src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"
    >
    </script>
    <script>
      window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
